
.modalBackdropForItemEdit {
    background-color: #FAF8EA;
}

.itemColor{
    color: #1015ED
}


.table-wrap {
    height: 38rem;
    overflow-y: auto;
  
}

.table-fixed thead th {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 999;
    background-color: #000;
    color: #fff;
}


.table-fit {
    height: 1rem;
}

.stockFormat {
    font-size: 10px;
}




